body {
    /*background: url("Color-Fill-1.png");*/
    /*background-size: 100%;*/
    background-color: #333333;
    color: white;
}
li { list-style-type: none; }
a, a:hover, a:visited, a:active, a:link {
    text-decoration: none;
}
a, a:visited, a:active, a:link { color: #DA491C; }
a:hover { color: #5cc0bd; }

h1, h2, h3 { text-align: center; }

button.btn, button.btn:hover, button.btn:focus {
    border-radius: 0;
    background: rgba(218,73,28,0.55);
    font-size: 16px;
    margin-top: 20px;
    font-weight: bold;
    color: white;
    box-shadow: none;
    text-transform: uppercase;
    outline: none;
    border: 2px solid rgba(218,73,28,0.1);
}
button.btn:hover, button.btn:focus {
    background: rgba(218,73,28,1);
    border: 2px solid rgba(218,73,28,1);
}
button.btn:focus, button.btn:active:focus {
    color: white;
    outline: none;
}
.underscore-blue {
    border-bottom: 3px solid #5cc0bd;
}
.underscore-orange {
    border-bottom: 3px solid #DA491C;
}
.underscore-default {
    border-bottom: 3px solid #aeaeae;
}
.header-wrapper {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}