div#search-results-wrapper {
  margin-top: 50px;
  background-color: #222222;
  position: absolute;
  z-index: 100;
  opacity: 0.9;
  a {
    font-size: 20px;
  }
  span {
    font-size: 16px;
  }
}

@media (max-width: 767px) {
  div#search-results-wrapper {
    width: 100%;
  }
}
@media (min-width: 768px) {
  div#search-results-wrapper {
    width: 50%;
    margin-left: 25%;
  }
}