h3.signin-heading,h3.signup-heading {
    margin-bottom: 40px;
    padding-bottom: 10px;
    text-align: center;
}
@media (max-width: 767px) {
    h3.signin-heading,h3.signup-heading {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}
@media (min-width: 768px) {
    h3.signin-heading,h3.signup-heading {
        width: 40%;
        margin-left: auto;
        margin-right: auto;
    }
}
h3.signup-heading.visible-xs,
h3.signin-heading.visible-xs { display: inline-block; }
input.form-input.form-control {
    width: 100%;
    padding: 5px 5px 5px 35px;
    box-sizing: border-box;
    background: transparent;
    outline: none;
    resize: none;
    border: 0;
    transition: all .3s;
    border-bottom: 2px solid #aeaeae;
    font-size: 24px;
    box-shadow: none;
    border-radius: 0;
    margin-top: 20px;
    color: white;
    height: auto;
}
input.form-input.form-control:focus { border-bottom: 2px solid white; }
label.error { color: #ff7e76; }
input.form-input.form-control.error { border-bottom: 2px solid #ff7e76; }
.signup-form-wrapper { padding: 0 30px; }
a.link.link-signup, a.link.link-signin { color: white; }
.fa.fa-facebook-official { font-size: 20px; }


