@media (max-width: 767px) {
    .place-tile {
        background: url('https://unsplash.it/250/?blur&random') no-repeat center;
        width: 250px;
        height: 250px;
        margin-bottom: 30px;
    }
}
@media (min-width: 768px) {
    .place-tile {
        background: url('https://unsplash.it/300/?blur&random') no-repeat center;
        width: 300px;
        height: 300px;
        margin-bottom: 50px;
    }
}
.place-tile {
    position: relative;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 1px 5px 1px black;
}
.place-tile:hover {
    box-shadow: 0 1px 5px 1px #DA491C;
}
div.place-label {
    padding: 5px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    text-transform: capitalize;
    text-align: center;
    background-color: black;
    color: white;
    opacity: 0.7;
}
div.place-label p {
    margin-bottom: 0;
}