.song-tile-wrapper {margin-bottom: 15px; border-radius: 5px;
  div.song-places-wrapper {
    width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: none;
    background-color: #222222;
    border-radius: 0 0 5px 5px;
    ul.song-places { margin: 0; padding: 0;
      li {
        div.place-ops-wrapper {width: 100%; padding: 10px; height: auto; text-align: center;
          p.place-name {font-size: 16px; margin: 0 0 5px;}
          a {
            button.btn {display: inline-block; width: 40%; margin: 0 10px; font-size: 14px; font-weight: 400;}
          }
        }
      }
    }
  }
}
