body {
    background-color: #333333;
    color: white;
}
li { list-style-type: none; }
a, a:hover, a:visited, a:active, a:link {
    text-decoration: none;
}
a, a:visited, a:active, a:link { color: #DA491C; }
a:hover { color: #5cc0bd; }

h1, h2, h3 { text-align: center; }

button.btn,
button.btn:focus,
button.btn:active,
button.btn:visited,
button.btn:checked {
    border-radius: 0;
    background: transparent;
    border: 4px solid #DA491C;
    font-size: 16px;
    margin-top: 50px;
    font-weight: bold;
    color: white;
    box-shadow: none;
}
button.btn:hover {
    color: white;
    border: 4px solid #5cc0bd;
}