.navbar { border: 0; border-radius: 0;margin: 0;}
.navbar-inverse .navbar-nav > li > a,
.navbar-inverse .navbar-nav > li > a:visited,
.navbar-inverse .navbar-nav > li > a:active,
.navbar-inverse .navbar-nav > li > a:link,
.navbar > .container .navbar-brand {
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    text-align: center;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar > .container .navbar-brand:hover { color: #5cc0bd; }
#nav-toggle { position: relative; float: left; margin: 10px 10px; }
#nav-toggle { cursor: pointer; padding: 10px 35px 16px 0; }
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: white;
    position: absolute;
    display: block;
    content: '';
}
#nav-toggle span:before { top: -10px; }
#nav-toggle span:after { bottom: -10px; }
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
    transition: all 200ms ease-in-out;
}
#nav-toggle.active span { background-color: transparent; }
#nav-toggle.active span:before, #nav-toggle.active span:after { top: 0; }
#nav-toggle.active span:before { transform: rotate(45deg); background: #5cc0bd; }
#nav-toggle.active span:after { transform: rotate(-45deg); background: #5cc0bd; }
.navbar-inverse .navbar-nav > li > a.active {
    /*color: #DA491C;*/
    /*border-bottom: 2px solid #DA491C;*/
}
.navbar-inverse .navbar-nav > li > a.active > span {
    color: #DA491C;
    border-bottom: 2px solid #DA491C;
}
#nav-search-open, #nav-search-close {
    float: right;
    margin-right: 10px;
    margin-top: 10px;
    font-weight: bold;
    font-size: 26px;
    cursor: pointer;
}
input#nav-search-input {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    background: none;
    outline: none;
    resize: none;
    border: 0;
    transition: all .3s;
    border-bottom: 2px solid #78788c;

    font-size: 24px;
    box-shadow: none;
    border-radius: 0;
    color: white;
    height: auto;
}
input#nav-search-input:focus { border-bottom: 2px solid #5cc0bd; }

@media (max-width: 767px) {
    .width{
        width: 50vw;
        height: 100vh;
        background-color: #222222;
        -webkit-transition: width 0.2s ease-in;
        -moz-transition: width 0.2s ease-in;
        transition: width 0.2s ease-in;
        -o-transition: width 0.2s ease-in;
    }
    .container.navbar-fixed-top{
        height: 50px;
    }
}
@media (min-width: 768px) {
    div#menu.collapse.navbar-collapse.width {
        width: auto !important;
        height: 50px;
    }
}

/*OverRide Properties*/
.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
    max-height: none;
}
