.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #333333;
}
.table-striped > tbody > tr:hover {
    background-color: #252525;
}
.table > thead > tr > th, .table > tbody > tr > th,
.table > tfoot > tr > th, .table > thead > tr > td,
.table > tbody > tr > td, .table > tfoot > tr > td {
    border-top-color: #525252;
    vertical-align: middle;
}
.table > tbody > tr > td,
.table > thead > tr > th {
    text-align: center;
    padding: 0 4px;
}
.table > thead > tr > th { border-bottom: 0; }



.allSongsTable{
    background: #333333;
    width:100%;
    margin-top: 25px;
}
.allSongsTable > thead > tr > th {
    border-bottom: 3px solid black;
    font-size: 13px;
    font-weight: 600;
    padding: 8px 16px;
    text-align: center;
    vertical-align: middle;
}
.allSongsTable > tbody > tr{
    vertical-align: middle;
    text-align: center;
    border-bottom: 1px solid #364043;
}
.allSongsTable > tbody > tr > td {
    color: #fff;
    font-weight: 400;
    padding: 10px 16px;
    vertical-align: middle;
}

.allSongsTable > tbody > tr:hover {
    background: #252525;
}
