<template name="credentials">
    <div class="form-group">
        <div class="col-xs-12">
            <input type="email" class="signup-input form-control" id="email" name="email" placeholder="Enter email">
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-12">
            <input type="password" class="signup-input form-control" id="pwd" name="password" placeholder="Enter password">
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-6">
            <button type="submit" class="btn btn-block">Submit</button>
        </div>
        <div class="col-xs-6">
            <button type="button" class="btn btn-cancel btn-block cancel">Cancel</button>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-12">
            <button type="button" class="btn btn-facebook btn-block">
                <i class="fa fa-facebook-official"></i>
                 use Facebook
            </button>
        </div>
    </div>
</template>