<template name="signup">
    <div class="col-md-offset-2 col-md-8 signup-form-wrapper">
        <div class="header-wrapper">
            {{> headerButtons}}
        </div>
        <div class="col-xs-12">
            <form class="form-horizontal signup-form" role="form">
                <div class="form-group">
                    <div class="col-xs-12">
                        <input type="text" class="signup-input form-control" id="username" name="username" placeholder="Enter username">
                    </div>
                </div>
                {{> credentials}}
            </form>
        </div>
    </div>
</template>