<template name="songs">
    <div class="container">
        <h1>Songs</h1>
        {{> songsList}}
    </div>
</template>

<template name="songsList">
    <table class="table table-striped">
        <thead>
        <tr>
            <th><h4>#</h4></th>
            <th><h4>Song Name</h4></th>
            <th><h4>Song Artist</h4></th>
            <th><h4>Duration</h4></th>
        </tr>
        </thead>

        <tbody>
        {{#each songs}}
            <tr>
                <td>{{addOneTo @index}}</td>
                <td><a class="link" href="/songs/{{_id}}/show">{{name}}</a></td>
                <td>{{artist}}</td>
                <td>{{duration}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
    <br>
</template>