<template name="placeKaraoke">
    <h2>{{place.name}} Play Queue</h2>

    <table>
        <thead>
        <tr>
            <th><h4>#</h4></th>
            <th><h4>User</h4></th>
            <th><h4>Song</h4></th>
            <th><h4>Artist</h4></th>
            <th><h4>Duration</h4></th>
        </tr>
        </thead>

        <tbody>
        {{#each orders}}
            <tr>
                <td>{{addOneTo @index}}</td>
                <td>{{username}}</td>
                <td>{{getSongName song}}</td>
                <td>{{getSongArtist song}}</td>
                <td>{{getSongDuration song}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</template>