<template name="places">
    <h1>Karaoke places</h1>
    {{> placesList}}
</template>

<template name="placesList">
    <table class="table table-striped">
        <thead>
        <tr>
            <th><h4>Place Name</h4></th>
            <th><h4>Address</h4></th>
            <th><h4>Location</h4></th>
        </tr>
        </thead>

        <tbody>
        {{#each place}}
            <tr>
                <td>{{name}}</td>
                <td>{{address}}</td>
                <td>{{latitude}}, {{longitude}}</td>
                <a class="link" href="/places/{{_id}}/show">Show</a>
                <a class="link" href="/places/{{_id}}/edit">Edit</a>
                <a class="link remove" href="#">Remove</a>
            </tr>
        {{/each}}
        </tbody>
    </table>
    <br>
    <a class="link" href="/places/add">Add new place</a>
</template>