<template name="places">
    <h1>Karaoke places</h1>
    <div class="col-xs-12">
        {{> placesList}}
    </div>
</template>

<template name="placesList">
    <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="place-tile">
            <img class="place-img" src="http://placehold.it/300x300/5cc0bd" alt="" />
            <div class="place-label">
                <p>The Louder The Better</p>
                <p><span class="fa fa-map-marker"></span> Albertinkatu 2, Helsinki</p>
            </div>
            <!--<span>karaoke-button</span>-->
        </div>
    </div>
</template>