<template name="placeSongs">
    <table class="table table-striped">
        <thead>
        <tr>
            <th><h4>Song Name</h4></th>
            <th><h4>Song Artist</h4></th>
            <th><h4>Duration</h4></th>
        </tr>
        </thead>

        <tbody>
        {{#each songs}}
            <tr>
                <td><a class="link" href="/songs/{{_id}}/show">{{name}}</a></td>
                <td>{{artist}}</td>
                <td>{{duration}}</td>
                <a class="link" href="/songs/{{_id}}/edit">Edit</a>
                <a class="link remove" href="#">Remove</a>
            </tr>
        {{/each}}
        </tbody>
    </table>
    <br>
    <h4>{{name}}</h4>
    <a class="link" href="/songs/add">Add new song</a>
</template>